# 1.How to create lags and leads of a column in a dataframe?
 
 * Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1      (shift column b up by 1 row).

 * Input

 * df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

* a b c d

* 0 66 34 76 47

* 1 20 86 10 81
* 2 75 73 51 28
* 3 1 1 9 83
* 4 30 47 67 4

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  83  51  91  22     NaN     86.0
1  74  86  15  70    83.0     63.0
2  79  63  11  82    74.0     48.0
3  43  48  85  11    79.0     27.0
4  29  27  82  89    43.0      NaN

# 2.How to get the frequency of unique values in the entire dataframe?

* Get the frequency of unique values in the entire dataframe df.
* Input
* df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [2]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
print(pd.value_counts(df.values.ravel()))

7    4
3    4
5    3
6    2
2    2
1    2
9    1
8    1
4    1
dtype: int64

# 3.How to split a text column into two separate columns?

* Split the string column in df to form a dataframe with 3 columns as shown.
* Input
* df = pd.DataFrame(["STD, City State","33, Kolkata West Bengal","44, Chennai Tamil Nadu","40, Hyderabad Telengana","80, *       Bangalore Karnataka"], columns=['row'])

In [12]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

df_out = df.row.str.split(',|\t',expand=True)
print(df)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

# 4.How to join two dataframes by 2 columns so they have only the common rows?

* Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.
* Input
* df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
        'weight': ['high', 'medium', 'low'] * 3,
        'price': np.random.randint(0, 15, 9)})
* df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,

        'kilo': ['high', 'low'] * 3,
        'price': np.random.randint(0, 15, 6)})

In [13]:
import pandas as pd 
import numpy as np

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
out = df1.merge(df2,left_on=('fruit','weight'),right_on=('pazham','kilo'),how='inner',suffixes=('_left','_right')).head(10)
print(out)

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high          10   apple  high            6
1   apple   high           7   apple  high            6
2   apple   high           2   apple  high            6
3  orange    low           8  orange   low            4
4  orange    low          12  orange   low            4
5  orange    low           3  orange   low            4

# 5.How to get the positions where values of two columns match?

In [14]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

np.where(df.fruit1 == df.fruit2)
print(df)

   fruit1  fruit2
0  orange   apple
1  orange  orange
2   apple  banana
3  orange  orange
4  orange  orange
5  banana  banana
6  orange  orange
7  banana   apple
8  orange  banana
9  orange  orange

# 6.How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?

* In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.
* Input
* df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,

       'rating': np.random.rand(9),
       'price': np.random.randint(0, 15, 9)})

In [15]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  7.000000
1  banana  8.666667
2  orange  9.333333

# 7.How to get the n’th largest value of a column when grouped by another column?

* In df, find the second largest value of 'taste' for 'banana'
* Input
* df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,

       'rating': np.random.rand(9),
       'price': np.random.randint(0, 15, 9)})

In [16]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

print(df)
df_grpd = df['rating'].groupby(df.fruit)
print(df_grpd.get_group('banana').sort_values().iloc[-2])

    fruit    rating  price
0   apple  0.207982      0
1  banana  0.778379      2
2  orange  0.666407      0
3   apple  0.016014     10
4  banana  0.908736      2
5  orange  0.202785      9
6   apple  0.380036      1
7  banana  0.662093      8
8  orange  0.977108      3
0.7783785432022093

# 8.How to get the particular group of a groupby dataframe by key?

* This is a question related to understanding of grouped dataframe. From df_grouped, get the group belonging to 'apple' as a      dataframe.
* Input
* df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,

       'col2': np.random.rand(9),
       'col3': np.random.randint(0, 15, 9)})
df_grouped = df.groupby(['col1'])

In [17]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

print(df_grouped.get_group('apple'))

    col1      col2  col3
0  apple  0.531890     8
3  apple  0.500657     6
6  apple  0.309984     0

# 9.How to replace both the diagonals of dataframe with 0? Replace both values in both diagonals of df with 0.¶

* Input
* df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
* df

* 0 1 2 3 4 5 6 7 8 9
* 0 11 46 26 44 11 62 18 70 68 26
* 1 87 71 52 50 81 43 83 39 3 59
* 2 47 76 93 77 73 2 2 16 14 26
* 3 64 18 74 22 16 37 60 8 66 39
* 4 10 18 39 98 25 8 32 6 3 29
* 5 29 91 27 86 23 84 28 31 97 10
* 6 37 71 70 65 4 72 82 89 12 97
* 7 65 22 97 75 17 10 43 78 12 77
* 8 47 57 96 55 17 83 61 85 26 86
* 9 76 80 28 45 77 12 67 80 7 63

In [18]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
print(df)

    0   1   2   3   4   5   6   7   8   9
0   0  65  47  48   2  87  36  89  78   0
1  35   0  91  59  63   4  84  18   0   1
2  99  70   0  96  98  42  30   0   7  94
3  30  74  65   0  44  13   0  71  45  83
4  49  43   3  75   0   0  53  16  85  26
5  63   2  50  51   0   0  65   2  68  98
6  96  80  65   0  77  23   0  16  89  65
7  92  18   0  23  67  32  58   0  69   4
8   1   0  19  64  66  16  75  32   0  41
9   0  32  70  54  37  43  66  79  92   0

# 10.How to compute the correlation of each row with the suceeding row?¶

* Compute the correlation of each row of df with its succeeding row.
* Input

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [19]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

print([df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]])

[-0.01, -0.03, 0.02, -0.51, -0.16, -0.41, 0.38]

# 11.How to normalize all columns in a dataframe?

* Normalize all columns of df by subtracting the column mean and divide by standard deviation.
* Range all columns of df such that the minimum value in each column is 0 and max is 1.
* Don’t use external packages like sklearn.

* Input

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [20]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

Solution Q1
       0     1     2     3     4     5     6     7     8     9
0  0.93  0.03 -0.80  0.18  0.00  0.33 -0.72 -0.59  1.55 -0.94
1  1.15  1.15 -0.20 -0.95  1.51  0.05 -1.07  0.06 -0.21 -0.03
2 -1.34 -0.32  1.63  0.68 -0.84 -1.37  1.64 -1.03 -0.82  0.52
3 -1.57  0.68  0.43 -1.77 -0.07  0.26  0.94 -0.39  1.27  1.43
4  0.13  0.85 -0.41  0.94 -0.19  1.13  0.52 -0.91  0.20 -1.01
5  0.21 -1.47 -0.94  0.85 -1.27  0.99 -0.53  1.08 -0.45 -0.52
6 -0.17 -1.41  1.24  0.68 -0.57 -1.62  0.30  1.85 -0.12 -0.80
7  0.66  0.49 -0.94 -0.61  1.43  0.23 -1.07 -0.07 -1.42  1.36

# 12.How to create a column that contains the penultimate value in each row?

* Create a new column 'penultimate' which has the second largest value of each row of df.
* Input

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [21]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
df['penultimate'] = out
print(df)

    0   1   2   3   4   5   6   7   8   9  penultimate
0  15  68  41  29   3  53  65  67  75  72           72
1  80  47   1  70  97  72  32  70  77  63           80
2  98  66  76  99  73  66  58  91  97  94           98
3  23  82  52  76  10  48  21  86  24  86           82
4  45  95  70  83  20  76  84  43   9  38           84
5   4  80  32  61  30  40  97  10  58  95           95
6  38   6  71  22  22  48  47  74  73  20           73
7  44  44  92  44  67  35   2  39  12   3           67

# 13.How to create a column containing the minimum by maximum of each row?

* Compute the minimum-by-maximum for every row of df.

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [23]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)
print(df)

    0   1   2   3   4   5   6   7   8   9
0  99  42  61  65  59  19  92  85  55  91
1  89  95  26  82  85  10   8  49  82  90
2  56  53  15  26  26  48  10  73  71  62
3  93  70  42  19  90  56  82  87  38  72
4  70   6  32  78  87  52  18  32  90  93
5  75  32  65  92  37  75  30  46  53  50
6   5  71  85  51   7  86  42  44  40  32
7  17   9  70  30  50  47  73  15  20  96

# 14.How to know the maximum possible correlation value of each column against other columns?¶

* Compute maximum possible absolute correlation value of each column against other columns in df.
* Input

* df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

In [24]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
df
abs_corrmat = np.abs(df.corr())
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2))

Maximum Correlation possible for each column:  [0.68 0.93 0.68 0.4  0.9  0.68 0.46 0.93 0.44 0.58]

# 15.Which column contains the highest number of row-wise maximum values?

* Obtain the column name with the highest number of row-wise maximum’s in df.

* df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

In [25]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

Column with highest row maxes:  3