In [1]:
#Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.
import pandas as pd
a = pd.Series([12,24,36,48,56])
print(a)

0    12
1    24
2    36
3    48
4    56
dtype: int64

In [2]:
#Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

b = pd.Series([8,16,32,64,128])
print(b)
print(type(b))
print("Convert Pandas Series to Python list")
print(b.tolist())
print(type(b.tolist()))

0      8
1     16
2     32
3     64
4    128
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[8, 16, 32, 64, 128]
<class 'list'>

In [3]:
# Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9] 
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
s = s1 + s2
print("Add two Series:")
print(s)
print("Subtract two Series:")
s = s1 - s2
print(s)
print("Multiply two Series:")
s = s1 * s2
print(s)
print("Divide Series1 by Series2:")
s = s1 / s2
print(s)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [4]:
#Write a Pandas program to compare the elements of the two Pandas Series.
# Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 10])
print(s1)
print(s2)
print("Elements which are Equals:")
print(s1 == s2)
print("Elements which are Greater than:")
print(s1 > s2)
print("Elements which are Less than:")
print(s1 < s2)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Elements which are Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Elements which are Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Elements which are Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [5]:
#Write a Pandas program to convert a dictionary to a Pandas series.
#Sample Series:
#Original dictionary:
#{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
#Converted series: a 100 b 200 c 300 d 400 e 800 dtype: int64
p = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print(p)
new_series = pd.Series(p)
print("Converted series:")
print(new_series)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [6]:
#Write a Pandas program to convert a NumPy array to a Pandas series.
#Sample Series: NumPy array: [10 20 30 40 50]
#Converted Pandas series: 0 10 1 20 2 30 3 40 4 50 dtype: int64 
import numpy as np
n = np.array([10, 20, 30, 40, 50])
print("NumPy array:")
print(n)
p = pd.Series(n)
print("Converted Pandas series:")
print(p)

NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [7]:
#Write a Pandas program to change the data type of given a column or a Series.
#Sample Series:
#Original Data Series: 0 100 1 200 2 python 3 300.12 4 400 dtype: object
#Change the said data type to numeric: 0 100.00 1 200.00 2 NaN 3 300.12 4 400.00 dtype: float64
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s)
print("Change the said data type to numeric")
si = pd.to_numeric(s, errors='coerce')
print(si)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [8]:
#Write a Pandas program to convert the first column of a DataFrame as a Series.
#Sample Output:
#Original DataFrame col1 col2 col3 0 1 4 7 1 2 5 5 2 3 6 8 3 4 9 12 4 7 5 1 5 11 0 11
#1st column as a Series: 0 1 1 2 2 3 3 4 4 7 5 11 Name: col1, dtype: int64 <class 'pandas.core.series.Series'>
a = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
b = pd.DataFrame(data=a)
print(b)
s1 = b.iloc[:,0]
print("\n1st column as a Series:")
print(s1)
print(type(s1))

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
#Write a Pandas program to convert a given Series to an array.
#Sample Output:
#Original Data Series: 0 100 1 200 2 python 3 300.12 4 400 dtype: object
#Series to an array ['100' '200' 'python' '300.12' '400']
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s1)
print("Series to an array")
r = np.array(s1.values.tolist())
print (r)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']

In [10]:
#Write a Pandas program to convert Series of lists to one Series.
#Sample Output:
#Original Series of list 0 [Red, Green, White] 1 [Red, Black] 2 [Yellow] dtype: object
#One Series 0 Red 1 Green 2 White 3 Red 4 Black 5 Yellow dtype: object
si = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print(si)
si = si.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(si)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [11]:
#Write a Pandas program to sort a given Series.
#Sample Output:
#Original Data Series: 0 100 1 200 2 python 3 300.12 4 400 dtype: object 0 100 1 200 3 300.12 4 400 2 python dtype: object
q = pd.Series(['100', '200', 'python', '300.12', '400'])
print(q)
sh = pd.Series(q).sort_values()
print(sh)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [12]:
#Write a Pandas program to add some data to an existing Series.
#Sample Output:
#Original Data Series: 0 100 1 200 2 python 3 300.12 4 400 dtype: object
#Data Series after adding some data: 0 100 1 200 2 python 3 300.12 4 400 0 500 1 php dtype: object 
ri = pd.Series(['100', '200', 'python', '300.12', '400'])
print(ri)
print("\nData Series after adding some data:")
an = ri.append(pd.Series(['500', 'php']))
print(an)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [13]:
#Write a Pandas program to create a subset of a given series based on value and condition.
#Sample Output:
#Original Data Series: 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 10 10 dtype: int64
#Subset of the above Data Series: 0 0 1 1 2 2 3 3 4 4 5 5 dtype: int64 
a = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print(a)
print("\nSubset of the above Data Series:")
n = 8
si = a[a < n]
print(si)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [14]:
#Write a Pandas program to change the order of index of a given series.
#Sample Output:
#Original Data Series: A 1 B 2 C 3 D 4 E 5 dtype: int64
#Data Series after changing the order of index: B 2 A 1 C 3 D 4 E 5 dtype: int64
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['E','D','C','B','A'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
E    5
D    4
C    3
B    2
A    1
dtype: int64

In [15]:
#Write a Pandas program to create the mean and standard deviation of the data of a given Series.
#Sample Output:
#Original Data Series: 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 5 10 3 dtype: int64
#Mean of the said Data Series: 4.818181818181818
#Standard deviation of the said Data Series: 2.522624895547565 
s1 = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print(s1)
print("Mean of the said Data Series:")
print(s1.mean())
print("Standard deviation of the said Data Series:")
print(s1.std())

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series:
4.818181818181818
Standard deviation of the said Data Series:
2.522624895547565

In [16]:
#Write a Pandas program to get the items of a given series not present in another given series.
#Sample Output:
#Original Series:
#sr1: 0 1 1 2 2 3 3 4 4 5 dtype: int64
#sr2: 0 2 1 4 2 6 3 8 4 10 dtype: int64
#Items of sr1 not present in sr2: 0 1 2 3 4 5 dtype: int64
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print(sr1)
print(sr2)
print("\nItems of sr1 not present in sr2:")
res = sr1[~sr1.isin(sr2)]
print(res)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

In [17]:
#Write a Pandas program to get the items which are not common of two given series.
#Sample Output:
#Original Series:
#sr1: 0 1 1 2 2 3 3 4 4 5 dtype: int64
#sr2: 0 2 1 4 2 6 3 8 4 10 dtype: int64
#Items of a given series not present in another given series: 0 1 2 3 4 5 5 6 6 8 7 10 dtype: int64 
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print(sr1)
print(sr2)
print("\nItems of a given series not present in another given series:")
ri = pd.Series(np.union1d(sr1, sr2))
an = pd.Series(np.intersect1d(sr1, sr2))
result = ri[~ri.isin(an)]
print(result)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [18]:
#Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
#Sample Output:
#Original Series: 0 3.000938 1 11.370722 2 14.612143 3 8.990256 4 13.925283 5 12.056875 .... 17 14.118931 18 8.247458 19 5.526727 dtype: float64
#Minimum, 25th percentile, median, 75th, and maximum of a given series: [ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321] 
numstate = np.random.RandomState(100)
numseries = pd.Series(numstate.normal(10, 4, 20))
print(numseries)
result = np.percentile(numseries, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [19]:
#Write a Pandas program to calculate the frequency counts of each unique value of a given series.
#Sample Output:
#Original Series: 0 1 1 7 2 1 3 6 4 9 5 1 ... 29 2 30 9 31 1 32 2 33 9 34 2 35 9 36 0 37 0 38 4 39 8 dtype: object
#Frequency of each unique value of the said series. 0 9 2 7 9 6 1 5 6 3 8 3 7 3 3 2 4 1 5 1 dtype: int64 
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print(num_series)
print("Frequency of each unique value of the said series.")
result = num_series.value_counts()
print(result)

0     7
1     6
2     9
3     8
4     1
5     1
6     3
7     4
8     9
9     9
10    1
11    1
12    8
13    4
14    1
15    8
16    0
17    5
18    5
19    9
20    4
21    9
22    7
23    2
24    5
25    9
26    1
27    7
28    0
29    6
30    3
31    2
32    6
33    9
34    7
35    1
36    1
37    9
38    6
39    7
dtype: object
Frequency of each unique value of the said series.
1    8
9    8
7    5
6    4
8    3
5    3
4    3
2    2
0    2
3    2
dtype: int64

In [21]:
#Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
#Sample Output:
#Original Series: 0 3 1 1 2 1 3 3 4 2 5 2 6 1 7 2 8 3 9 1 10 2 11 2 12 2 13 3 14 3 dtype: int64
#Top 2 Freq: 2 6 3 5 1 4 dtype: int64 0 Other 1 Other 2 Other 3 Other 4 2 5 2 6 Other 7 2 8 Other 9 Other 10 2 11 2 12 2 13 Other 14 Other dtype: object
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

0     4
1     4
2     2
3     1
4     2
5     1
6     2
7     3
8     1
9     3
10    4
11    2
12    2
13    4
14    4
dtype: int32
Top 2 Freq: 4    5
2    5
1    3
3    2
dtype: int64
0         4
1         4
2     Other
3     Other
4     Other
5     Other
6     Other
7     Other
8     Other
9     Other
10        4
11    Other
12    Other
13        4
14        4
dtype: object